/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-organic-affiliate-product-carousel {
  width: 100%;
}

[data-organic-affiliate-integration="product-carousel"] {
  min-height: 580px;
  font-size: 0;
}
